html, body{
	height:100%;
	width: 100%;
}

.navbar{
	background-color:#23415C;
	padding:  1% 0;
	font-size: 1.2em;
}

.navbar-default .navbar-nav li a{
	color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default li a.active{
	color: #FFF;
}

#home {
	background:url(img3.jpg) no-repeat center center fixed;
	display:table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover; 
}

a.navbar-brand{
	color: white;
}