@charset


/*Estilizando o Quem Somos*/

p#ident{
	text-align: center;
	text-indent: 30px;
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;

}

p#valores{
	text-align: center;
}

h3{
	text-align: center;
}

h4{
	text-align: center;
}

p#info{
	text-align: center;
}

figure.grupo{
	position: relative;
	border: 4px solid white;
	box-shadow: 1px 1px 1px 2px black;
	align-content: center;
	margin-left:300px;
	margin-right:300px;

}

figure.grupo img{
	width: 100%;
	height: 100%;

}

figure.grupo figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	transition: opacity .5s;
}

figure.grupo:hover figcaption{
	opacity: 1;
}

figure.grupo h4{
	font-size: 16px;
}
			


/*Estilizando o Cadastro*/

/*h1#aslap{
	text-align: center;
}

form#aslap{
	display: block;
	margin-left: 40%;
}

/*Estilizando os Valores*/


h1#val{
	text-align: center;
	color: white;
}

ul#val {
	margin-left: 40%; 
}

ul#val li{
	color: white;
}

/*Estilizando o Sobre*/

body#sobre{
	background-color: black;
}

h1#sobre{
	text-align: center;
	color: white;
}

/*Estilizando o Login*/

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: #23415c;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #23415c;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #23415c;
}
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color:#fff;
}

.login-box a:hover
{

color::black;

}




/*Estilizando o piu*/

h2#logado{
	margin-top: 15px;
	position: absolute;
	margin-left: 40%;
	color: #23415c;
}

form#logado{
	margin-top: 80px;
	position: absolute;
	margin-left: 43%;
}
a#sair{
	margin-top: 250px;
	position: absolute;
	margin-left: 49%;
	text-decoration: none;
}
input#envi{
	margin-top: 8px;
	position: absolute;
	margin-left: 36%;
}
h1#cad{
	margin-top: 10px;
	position: absolute;
	margin-left: 18%;
	color: #23415c;
}
input#aq{
	margin-top: 70px; 
	text-align: center;
	text-align: justify;
	margin-left: 46%


}
