@charset

header#head{
	display: block;
	height: 160px;
	padding: auto;
	background-image: url("img2.jpg") no-repeat;
	/*border-bottom: 1px #606060 solid;*/
}

figure img{
	margin-top: -150px;
	margin-left:-40px;
}

header#head h1{
	margin-left: 32%;
	margin-top:-8px;
	font-size: 40pt;
	font-family: arial;
	padding: 0px;
	padding-top: 60px;
}

header#head nav{
	position: absolute;
}

header#head ul{
	position: absolute;
	margin-left: 77%;
	margin-top: -90px;
}

header#head li{
	display: inline-block;
	margin: 3px;
	padding: 5px;
	color:black;
	background-color: #606060;
	margin-bottom: 0px;
	font-size: 15pt;
	font-family: arial;
}

header#head li:hover {
	background-color: black;
	color:white;
	transition: 1s;
}

nav#naves {
	position: absolute;
	margin-left: 78%;
	margin-top: -20px;
	padding: 0px;
}

nav#naves li {
	display: inline-block;
	margin:0px;
	background-color: #606060;
	font-size: 14pt;
	padding: 4px;
	color: black;
}

nav#naves li:hover {
	background-color: black;
	color: white;
	transition: 1s;
}

nav#pq {
	position: absolute;
	margin-left: -40px;
	padding: 0px;
	margin-top: -20px;


}

nav#pq li{
	display: block;
	text-decoration: none;
	background-color: #606060;
	margin:0px;
	padding: 4px;
	font-size:14pt;
	display: inline-block;
	color: black; 
}

nav#pq input{
	padding: 5px;
	margin-left: -3px;
}

div#fig{
	margin-top: 150px;
	margin-left: -40px;
}

div#fig img{
	height: 417px;
	width: 1350px;
	padding-left: 40px;
	/*padding-top: 10px;*/
	/*padding-bottom: 15px; */
}


