@charset;

p{
	padding-right: 50%;
	text-align: justify;
	text-indent: 20px;
}

body{
	background-color: 
}

#divp{
	/*display: inline-block;*/
	float: left;
	position: relative;
}
#divx{
	/*display: inline-block;*/
	float: left;
	position: relative;
}
header#cabecalho{
	height: -12px;
	position: relative;
}
h1{
	color: #00BFFF;
	font-size: 60px;
	font-family: cursive;
	text-align: center;
	margin-left: auto;
    margin-right: 650px;
    margin-top: 50px;
 	padding: -10px;  
}
h2{
	color:#3CB371;
}
body{
	background-color: #FAF0E6;
}

#paragrafo {
	text-indent: 20px;
	text-align: justify;
	padding-left: 2%;
	padding-right: 50%;
	width: 50%;
}

img{
	padding-left: 60%;
	margin-bottom: 10px;
	align-content: center;
}


/* formatando o menu */


nav#men1{
	/*display:block;*/
}

nav#men1 ul{
	list-style: none;
	text-transform: uppercase;
	/*position:relative;*/
	margin-left: 1350px;
    margin-bottom: 10%;
}

nav#men1 li{
	display:inline-block;
	background-color:#dddddd;
	padding:5px;
	margin:2px;
	transition:background-color 1s;
}

nav#men1 li:hover{
	background-color:black;
}

nav#men1 a{
	color:#000000;
	text-decoration:none;
}

nav#men1 a:hover{
	color:#ffffff;
}
