@charset


/*Estilizando o Quem Somos*/

p#ident{
	text-align: center;
	text-indent: 30px;
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;

}

p#valores{
	text-align: center;
}

h3{
	text-align: center;
}

h4{
	text-align: center;
}

p#info{
	text-align: center;
}

figure.grupo{
	position: relative;
	border: 4px solid white;
	box-shadow: 1px 1px 1px 2px black;
	align-content: center;
	margin-left:300px;
	margin-right:300px;

}

figure.grupo img{
	width: 100%;
	height: 100%;

}

figure.grupo figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	transition: opacity .5s;
}

figure.grupo:hover figcaption{
	opacity: 1;
}

figure.grupo h4{
	font-size: 16px;
}
			


/*Estilizando o Cadastro*/

/*h1#aslap{
	text-align: center;
}

form#aslap{
	display: block;
	margin-left: 40%;
}

/*Estilizando os Valores*/


h1#val{
	text-align: center;
	color: white;
}

ul#val {
	margin-left: 40%; 
}

ul#val li{
	color: white;
}

/*Estilizando o Sobre*/

body#sobre{
	background-color: black;
}

h1#sobre{
	text-align: center;
	color: white;
}

/*Estilizando o Login*/

h1#login{
	margin-top: -75px;
	position: absolute;
	margin-left: 50%;
}

form#login{
	text-align:center;
	margin-top: -130px;
	margin-left: 9%;
}

form#login table{
	margin-top: 300px;
	margin-left: 40%;
}

form#login input#env{
	margin-top: 20px;
	margin-left: -5%;
}

/*table#log{
	position: absolute;
	margin-top: 100px;
	margin-left: 40%;
}*/

div#qs {
	margin-top: 100px;
}

div#qs p#ident{
	text-align: center;
	text-indent: 30px;
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;	
}

table#aslap{
	position: absolute;
	margin-top: 180px;
	margin-left: 40%;
}

table#asl{
	position: absolute;
	margin-top: 243px;
	margin-left: 40%;
}

input#env{
	margin-top: 310px;
	margin-left: 44%;
}

h1#hh{
	margin-top: 100px;
	position: absolute;
	margin-left: 41%;
}

li#google i{
	background-color: #dd4b39;
	color:white;
}

/*Estilizando o piu*/

h2#logado{
	margin-top: 15px;
	position: absolute;
	margin-left: 40%;
	color: #23415c;
}

form#logado{
	margin-top: 80px;
	position: absolute;
	margin-left: 43%;
}
a#sair{
	margin-top: 250px;
	position: absolute;
	margin-left: 49%;
	text-decoration: none;
}
input#envi{
	margin-top: 8px;
	position: absolute;
	margin-left: 36%;
}
h1#cad{
	margin-top: 10px;
	position: absolute;
	margin-left: 18%;
	color: #23415c;
}
input#aq{
	margin-top: 70px; 
	text-align: center;
	text-align: justify;
	margin-left: 46%
}

/*css do piu/user*/

div#primeiro{
	display: block;
	margin-top:50px;
	margin-left:300px; 
	height: 190px;
	width:1200px;
	background-color:black;
	padding: 0px; 
}

div#primeiro h3{
	position: absolute;
	color:white;
	margin-left: 300px;
}

/*div#primeiro:hover{
	background-color:white;
	color:black; 
}*/

div#primeiro div#i{
	height:165px;
	width: 160px;
	background-color: white;
	margin-left: 10px;
	margin-top: 15px;
	position: absolute;
}

div#primeiro div#i img{
	height:165px;
	width: 160px;
}

div#segundo{
	display: block;
	margin-top: 20px;
	margin-left: 300px;
	height:210px;
	width:300px;
	background-color: black;
}

div#terceiro{
	display: block;
	margin-top:-210px; 
	height:90px;
	width:890px;
	margin-left:610px;
	background-color: black;
}

div#quarto{
	margin-top: 130px;
	margin-left: 300px;
	height:150px;
	width:300px;
	background-color: black;
}

div#quinto{
	margin-top:15px;
	margin-left:300px; 
	height:250px; 
	width:300px;
	background-color: black;
}

div#lista{
	margin-top: 90px;
	position: absolute;
	margin-left: 45%;

}

div#lista li{
	list-style: none;
	font-size: 17pt;
}

div#lista h1{
	margin-left: -80px;
	margin-bottom: 60px;
}