html, body{
	height:100%;
	width: 100%;
}

.navbar{
	background-color:#23415c;
	padding:  0.2% 0;
	font-size: 1.2em;
}

.navbar-default .navbar-nav li a{
	color: #D5D5D5;
}
div#posicao{
     margin-left: 65%;
}
.navbar-default .navbar-nav li a:hover, .navbar-default li a.active{
	color: #FFF;
}

/*#home {
	background:url(img1.jpg) no-repeat center center fixed;
	display:table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover; 
}*/

#home {
    background:url() no-repeat center center ;
    display:table;
    top: -40px;
    height: 10%;
    position: relative;
    width: 100%;
    background-size: cover; 
}

div#texto{
    text-align: center;
    font-size: 18px;
}

#home p{
    margin-top: 120px;
}

#home2 {
    background:url(img1.jpg) no-repeat center center ;
    display:table;
    height: 65%;
    position: relative;
    width: 100%;
    background-size: cover;
    top: -115px; 
}
#home3 {
    background:url() no-repeat center center ;
    display:table;
    height: 40%;
    position: relative;
    width: 100%;
    background-size: cover; 
    top: -65px;
}
#home4 {
    background:url(img2.jpg) no-repeat center center ;
    display:table;
    height: 70%;
    position: relative;
    width: 100%;
    background-size: cover;
    top: -140px; 
}
#home5 {
    background:url() no-repeat center center ;
    display:table;
    height: 40%;
    position: relative;
    width: 100%;
    background-size: cover;
    top: -100px; 
}
#home6 {
    display:table;
    position: relative;
    background-size: cover; 
    
}

a.navbar-brand{
	color: white;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: none;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
	background-color: #f1f1f1;
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
p#rodape{
    text-align: left;
}
ul#icone {
    text-align: left;
    /*height: 100%;
    width: 100%;*/
}
ul#icone li{
 text-decoration: none;
 display: inline-block;
}
